{{#if encontrado}}
    <div class="card card-body p-4 rounded-0 mt-2">
        <img async src="/sentinel/images/{{idSession}}.jpg" class="img-fluid" alt="preview label {{products.Label}}">
    </div>  
{{/if}}