<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> tasks/products/productForm }}
        </div>
        <div class="col-md-7">
            {{> tasks/products/productTable }}
        </div>
    </div>    
        <div class="row">            
            <div class="col-md-5">                
                {{> tasks/products/varsForm }}
            </div>
            <div class="col-md-7">
                {{> tasks/products/previewForm }}
            </div>
    </div>
</div>