<nav class="navbar navbar-dark bg-dark mb-4 fixed-bottom">
  <div class="container d-flex justify-content-center align-items-center">
    <h4><a href="https://www.generaletiquetaje.com/" >GESA</a></h4>
  </div>
</nav>